.sign-up1 {
  position: absolute;
  top: 170px;
  left: calc(50% + 232px);
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-forestgreen-300);
  text-align: left;
  display: inline-block;
  width: 135px;
  height: 48.6px;
}
.register {
  position: relative;
  font-weight: 500;
}
.login-button {
  position: absolute;
  top: 703.5px;
  left: calc(50% + 89.5px);
  border-radius: var(--br-6xs);
  background-color: var(--color-forestgreen-400);
  border: 1px solid var(--text-clr);
  box-sizing: border-box;
  width: 420px;
  height: 47.2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 5px 134px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--white);
}
.email3 {
  position: absolute;
  top: 252px;
  left: 810px;
  display: inline-block;
  width: 58.9px;
  height: 31.7px;
}
.enter-your-email-container {
  position: absolute;
  top: 292.5px;
  left: 809.5px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-forestgreen-300);
  box-sizing: border-box;
  width: 420px;
  height: 47.2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--hairline-2-size);
  color: var(--color-dimgray-200);
}
.first-name1 {
  position: absolute;
  top: 348px;
  left: 803px;
  display: inline-block;
  width: 115.1px;
  height: 31.7px;
}
.enter-first-name {
  position: relative;
  font-weight: 200;
}
.enter-first-name-wrapper {
  position: absolute;
  top: 388.5px;
  left: 809.5px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-forestgreen-300);
  box-sizing: border-box;
  width: 420px;
  height: 47.2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--hairline-2-size);
  color: var(--color-dimgray-200);
}
.last-name1 {
  position: absolute;
  top: 444px;
  left: 803px;
  display: inline-block;
  width: 113.8px;
  height: 31.7px;
}
.enter-last-name-wrapper {
  position: absolute;
  top: 484.5px;
  left: 809.5px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-forestgreen-300);
  box-sizing: border-box;
  width: 420px;
  height: 47.2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--hairline-2-size);
  color: var(--color-dimgray-200);
}
.password1 {
  position: absolute;
  top: 540px;
  left: 804px;
  display: inline-block;
  width: 104.4px;
  height: 31.7px;
}
.enter-password-wrapper {
  position: absolute;
  top: 580.5px;
  left: 809.5px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-forestgreen-300);
  box-sizing: border-box;
  width: 420px;
  height: 47.2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--hairline-2-size);
  color: var(--color-dimgray-200);
}
.istock000039803170medium-1-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-7xs);
  width: 630px;
  height: 1024px;
  object-fit: cover;
}
.desktop-2-child {
  position: absolute;
  top: 854px;
  left: 1266px;
  border-radius: var(--br-6xs);
  background-color: var(--color-forestgreen-400);
  border: 1px solid var(--text-clr);
  box-sizing: border-box;
  width: 115px;
  height: 50px;
  cursor: pointer;
}
.go-back6 {
  position: absolute;
  top: 866px;
  left: 1288px;
  font-size: var(--font-size-mid);
  font-weight: 500;
  color: var(--white);
  text-align: left;
}
.desktop-2-item {
  position: absolute;
  top: 854px;
  left: 1267px;
  border-radius: var(--br-6xs);
  background-color: var(--color-forestgreen-400);
  border: 1px solid var(--text-clr);
  box-sizing: border-box;
  width: 115px;
  height: 50px;
  cursor: pointer;
}
.go-back7 {
  position: absolute;
  top: 866px;
  left: 1289px;
  font-size: var(--font-size-mid);
  font-weight: 500;
  color: var(--white);
  text-align: left;
}
.desktop-2 {
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--body-2-semi-size);
  color: var(--text-clr);
  font-family: var(--headline-3);
}
