.tomato-child3 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
  width: 195px;
  height: 220px;
}
.pngwing-2-icon4 {
  position: absolute;
  top: 49.9px;
  left: calc(50% - 49.5px);
  width: 99px;
  height: 94.6px;
  object-fit: cover;
}
.banana {
  position: absolute;
  top: 156.8px;
  left: 18.8px;
  font-weight: 500;
  display: inline-block;
  width: 69.3px;
  height: 24.8px;
}
.kg10 {
  color: var(--text-clr);
}
.rs100-kg {
  position: absolute;
  top: 186px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 69px;
  height: 21px;
  color: var(--color-forestgreen-300);
}
.group-icon8 {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
  z-index: 0;
}
.group-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper6 {
  position: absolute;
  top: 0px;
  left: calc(50% - 10.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tomato-inner3 {
  position: absolute;
  top: 174.6px;
  left: calc(50% + 58.8px);
  width: 21px;
  height: 21px;
}
.tomato4 {
  position: absolute;
  top: 206px;
  left: 174px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 220px;
}
.orange-child2 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-3xs);
  width: 195px;
  height: 220px;
}
.fruit-1222488-2-icon5 {
  position: absolute;
  top: 40.3px;
  left: 35px;
  width: 126.4px;
  height: 104.3px;
  object-fit: cover;
}
.guava {
  position: absolute;
  top: 156.8px;
  left: 18.8px;
  font-weight: 500;
  display: inline-block;
  width: 59.2px;
  height: 24.8px;
}
.rs80-kg {
  position: absolute;
  top: 187px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 69px;
  height: 21px;
  color: var(--color-forestgreen-300);
}
.orange-inner4 {
  position: absolute;
  top: 173.3px;
  left: calc(50% + 58.8px);
  width: 21px;
  height: 21px;
}
.orange9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 195px;
  height: 220px;
}
.orange8 {
  position: absolute;
  top: 206px;
  left: 477px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 220px;
}
.star-fruit {
  position: absolute;
  top: 156.8px;
  left: 18.8px;
  font-weight: 500;
  display: inline-block;
  width: 78px;
  height: 24.8px;
}
.rs90-kg1 {
  position: absolute;
  top: 187px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 72px;
  height: 21px;
  color: var(--color-forestgreen-300);
}
.tomato5 {
  position: absolute;
  top: 206px;
  left: 767px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 220px;
}
.fruit-1222488-2-icon6 {
  position: absolute;
  top: 46.7px;
  left: 20.6px;
  width: 135.1px;
  height: 101px;
  object-fit: cover;
}
.rs175-kg {
  position: absolute;
  top: 186px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 66px;
  height: 21px;
  color: var(--color-forestgreen-300);
}
.orange10 {
  position: absolute;
  top: 206px;
  left: 1067px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 220px;
}
.tomato-child5 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
  width: 195px;
  height: 217.3px;
}
.pngwing-2-icon6 {
  position: absolute;
  top: 49.2px;
  left: calc(50% - 49.5px);
  width: 103.3px;
  height: 97.6px;
  object-fit: cover;
}
.kiwi1 {
  position: absolute;
  top: 154.8px;
  left: 18.8px;
  font-weight: 500;
  display: inline-block;
  width: 34.7px;
  height: 24.4px;
}
.rs70-kg1 {
  position: absolute;
  top: 183px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 21px;
  color: var(--color-forestgreen-300);
}
.tomato6 {
  position: absolute;
  top: 577px;
  left: 174px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 217.3px;
  color: #1e1e1e;
}
.orange-child4 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-3xs);
  width: 195px;
  height: 218.6px;
}
.fruit-1222488-2-icon7 {
  position: absolute;
  top: 49.6px;
  left: 29.2px;
  width: 126.4px;
  height: 94.1px;
  object-fit: cover;
}
.pineapple {
  position: absolute;
  top: 155.8px;
  left: 18.8px;
  font-weight: 500;
  display: inline-block;
  width: 88.1px;
  height: 24.6px;
}
.rs90-kg2 {
  position: absolute;
  top: 185px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 59px;
  height: 21px;
  color: var(--color-forestgreen-300);
}
.orange13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 195px;
  height: 218.6px;
}
.orange12 {
  position: absolute;
  top: 577px;
  left: 477px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 218.6px;
}
.rs40-kg1 {
  position: absolute;
  top: 187px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 72px;
  height: 20px;
  color: var(--color-forestgreen-300);
}
.tomato7 {
  position: absolute;
  top: 577px;
  left: 767px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 220px;
}
.desktop-5-inner {
  position: absolute;
  top: 751.6px;
  left: calc(50% - 85.7px);
  width: 21px;
  height: 21px;
}
.desktop-5-child {
  position: absolute;
  top: 751.6px;
  left: calc(50% - 389.7px);
  width: 21px;
  height: 21px;
}
.fruit-1222488-2-icon8 {
  position: absolute;
  top: 49.9px;
  left: 40.8px;
  width: 126.4px;
  height: 94.6px;
  object-fit: cover;
}
.orange16 {
  position: absolute;
  top: 156.8px;
  left: 18.8px;
  font-weight: 500;
  display: inline-block;
  width: 66.4px;
  height: 24.8px;
}
.rs225-kg {
  position: absolute;
  top: 186px;
  left: 19px;
  font-size: var(--hairline-2-size);
  font-weight: 500;
  display: inline-block;
  width: 78px;
  height: 20px;
  color: var(--color-forestgreen-300);
}
.orange14 {
  position: absolute;
  top: 577px;
  left: 1067px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 220px;
}
.fruits {
  color: var(--color-forestgreen-100);
}
.fresh-fruits {
  position: absolute;
  top: 83px;
  left: calc(50% - 116px);
  font-size: var(--font-size-13xl);
  font-weight: 600;
  display: inline-block;
  width: 232px;
  height: 27px;
}
.desktop-5-item {
  position: absolute;
  height: 4.49%;
  width: 3.26%;
  top: 7.03%;
  right: 2.78%;
  bottom: 88.48%;
  left: 93.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.image-1 {
  position: absolute;
  top: 557px;
  left: 730px;
  width: 122px;
  height: 90px;
}
.desktop-5-child2 {
  position: absolute;
  top: 873px;
  left: 1193px;
  border-radius: var(--br-6xs);
  background-color: var(--color-forestgreen-300);
  border: 1px solid var(--text-clr);
  box-sizing: border-box;
  width: 138px;
  height: 49px;
}
.go-back3 {
  position: absolute;
  top: 883px;
  left: 1223px;
  font-size: var(--body-1-semi-size);
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
.desktop-5 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-2-semi-size);
  color: var(--text-clr);
  font-family: var(--headline-3);
}
