body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --headline-3: Poppins;
  --caption-1: Inter;

  /* font sizes */
  --body-1-semi-size: 20px;
  --caption-1-size: 14px;
  --body-2-semi-size: 16px;
  --headline-3-size: 54px;
  --font-size-41xl: 60px;
  --hairline-2-size: 12px;
  --font-size-mid: 17px;
  --font-size-6xl: 25px;
  --font-size-13xl: 32px;
  --font-size-smi: 13px;
  --font-size-11xl: 30px;
  --font-size-9xl: 28px;

  /* Colors */
  --white: #fff;
  --color-forestgreen-100: #63b33d;
  --color-forestgreen-200: #63b23d;
  --color-forestgreen-300: #4caf50;
  --color-forestgreen-400: #38a91f;
  --text-clr: #000;
  --neutral-02-100: #f4f5f7;
  --neutral-03-100: #e8ecef;
  --neutral-01-100: #fefefe;
  --neutral-07-100: #141718;
  --color-gray-100: rgba(0, 0, 0, 0.1);
  --neutral-04-100: #6c7275;
  --color-dimgray-100: #707070;
  --color-dimgray-200: rgba(112, 112, 112, 0.55);
  --color-dimgray-300: rgba(112, 112, 112, 0.8);
  --black-300: #cbcbcb;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-21xl: 40px;
  --padding-smi: 13px;
  --padding-6xs: 7px;

  /* border radiuses */
  --br-6xs: 7px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-7xs: 6px;
  --br-81xl: 100px;
  --br-3xs: 10px;
}
